
fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.5.0
langchain-together==0.1.5
langchain-community==0.2.16
langchain-text-splitters==0.2.4
langchain-core==0.2.38
chromadb==0.5.5
langchain-chroma==0.1.4
unstructured[all-docs]==0.15.12
python-magic==0.4.27
